.header 
{
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    background-color: rgba(126, 126, 126, 0.774);
    padding: 25px;
    margin: 5px;
}
.htext
{
    font-family: verdana;
    text-align: center;
    font-size: 50px;
}
.sidebar
{
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    background-color: rgb(160, 86, 86);
    padding: 15px;
    margin: 5px;               
    height: 400px;
    width: 230px;
    float: left;
}
.stext
{
    font-family: verdana;
    text-align: center;
    font-size: 50px;
}
.content
{
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    background-color: rgb(160, 86, 86);
    padding:15px;
    margin: 5px;
    height: 400px;
    width: 79%;
    float: right;
} 
.lable
{
    font-size: 30px;
}
.button
{
    font-size: 10px;
}
.footer
{
    font-family: verdana;
    text-align: center;
    font-size: 20px;
    background-color: rgb(127, 121, 121);
    padding: 25px;
    margin: 5px;
    clear: both;
}
.ftext
{
    font-family: verdana;
    text-align: center;
    font-size: 50px;
}